project:
  type: website
  output-dir  : docs
website:
  title: "quarto_website"
  navbar:
    left:
      - href: index.qmd
        text: About
      

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true



